.chat-main
  .main-header
    .main-header__left-box
      %h2.current_group
        test
      %ul.main-header__left-box__member-list
        Member:
        %li.main-header__left-box__member-list__member
          = current_user.name
    = link_to 'group_edit_path' do
      .main-header__edit-btn
        Edit
  .message
    .upper-message
      .upper-message__user-name
        = messages.user.name
      .upper-message__date
        = message.created_at.strftime("%Y/%m/%d %H:%M")
    .lower-message
      - if message.content.present?
        %p.lower-message__content
          = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
  -# .messages
  -#   .message
  -#     .message__upper-info
  -#       %p.message__upper-info__talker
  -#         = message.user.name
  -#       %p.message__upper-info__date
  -#         = message.created_at.strftime("%Y/%m/%d %H:%M")
  -#     - if message.content.present?
  -#       %p.message__text
  -#         = message.content
  -#     = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

  -# .form-message
  -#   = form_tag('group_message_path(current_group)', method: :post) do
  -#     .input-box
  -#       %input.message_content
  -#       %input.message_content{name: "body", placeholder: "type a message", type: "text"}/
  -#       %label.input-box__image
  -#         %i.fa.fa-image
  -#       %input#filesend
  -#     .submit-btn
  -#       Send
  -#       %input#filesend{name: "image", placeholder: "type a image-url", type: "text"}
  -#     .submit
  -#       %input.btn{ type: "submit", value: "Send" }/